<h2>Affordable Housing App Home</h2>
<%= form_tag '/home', method: :post do %>
  <%= label_tag "Address 1" %>
  <%= text_field_tag "Address 1" %><br>
  <%= label_tag "Address 2" %>
  <%= text_field_tag "Address 2" %><br>
  <%= label_tag "Address 3" %>
  <%= text_field_tag "Address 3" %><br>
  <%= label_tag "Max Price" %>
  <%= text_field_tag "Max Price" %><br>
  <%= radio_button_tag(:transportation, "transit") %>
  <%= label_tag(:transportation, "Public Transportation") %><br>
  <%= radio_button_tag(:transportation, "driving") %>
  <%= label_tag(:transportation, "Car") %><br>
  <%= radio_button_tag(:transportation, "walking") %>
  <%= label_tag(:transportation, "Walking") %><br>
  <%= radio_button_tag(:transportation, "bicycling") %>
  <%= label_tag(:transportation, "Bicycling") %><br>
  <%= submit_tag "Find me some neighborhoods!"%>
<% end  %>
<br>
<br>
<% if @top_three %>
<h3>Top 3 Neighborhoods</h3>
  <% @top_three.each do |neighborhood| %>
    Name: <%= neighborhood[1] %><br>
    Average Travel Time: <%= neighborhood[0] %><br>
    <h3>----------------</h3>
  <% end %>
<% end %>

<nav id='menu-ui' class='menu-ui'></nav>
<div id='map'></div>
