<div id="menu" class="ui left fixed vertical menu">
  <h1 id="main-title">NeighborHome</h1>
  <div id="input-addresses">
      <div class="ui icon input">
        <i class="marker icon"></i>
        <input type="text" name="Address 1" id="Address_1" value="1510 Blake st. Denver, CO" class="item" ></input>
      </div>
      <div class="ui icon input">
        <i class="marker icon"></i>
        <input type="text" name="Address 2" id="Address_2" value="4140 W 38th Ave, Denver, CO" class="item" ></input>
      </div>
      <div class="ui icon input">
        <i class="marker icon"></i>
        <input type="text" name="Address 3" id="Address_3" value="Denver Zoo" class="item" ></input>
      </div>
      <div class="ui disabled icon input">
        <i class="dollar icon"></i>
        <input type="text" name="Max Price" id="Max_Price" value="Coming soon" class="price" ></input>
      </div>

  <div class="trans-button round-edges-50">
    <input type="radio" class="radio_item" value="transit" name="transportation" id="transit">
    <label class="label_item" for="transit"><%= (image_tag "bus.png", width: "50px" ) %></label>
  </div>
  <div class="trans-button round-edges-50">
    <input type="radio" class="radio_item" value="driving" name="transportation" id="driving">
    <label class="label_item" for="driving"><%= (image_tag "car.jpg", width: "50px" ) %></label>
  </div>
  <div class="trans-button round-edges-50">
    <input type="radio" class="radio_item" value="walking" name="transportation" id="walking">
    <label class="label_item" for="walking"><%= (image_tag "person.jpg", width: "50px" ) %></label>«
  </div>»
  <div class="trans-button round-edges-50">
    <input type="radio" class="radio_item" value="bicycling" name="transportation" id="bicycling">
    <label class="label_item" for="bicycling"><%= (image_tag "bike.jpg", width: "50px" ) %></label>
  </div>

    <button type="button" name="button" class="ui teal basic button" id="submit-button">Find neighborhoods!</button>
  </div>

  <div id="return-addresses">
    <% if @top_three %>
    <h3>Top 3 Neighborhoods</h3>
      <% @top_three.each do |neighborhood| %>
        <div class="pick-3">
          <strong><%= neighborhood[1] %></strong>
        </div>
        Average Travel Time: <%= neighborhood[0] %> min<br>
        ----------------
      <% end %>
    <% end %>
  </div>
</div>

<div id="map-container">
  <nav id='menu-ui' class='menu-ui'></nav>
  <div id='map'></div>
</div>
